<form class='modal-dialog' (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
    <!-- <div class="modal-dialog" role="document"> -->
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
                <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Name:{{newQuote.createdBy}}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name='name' [(ngModel)]="newQuote.createdBy"
                            placeholder="Your Name..." required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="quote" class="col-sm-2">Quote: </label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="quote" name='quote' rows="3" [(ngModel)]="newQuote.quote"
                            placeholder="Write the quote here..." #quote='ngModel' required></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Author: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="author" name='author' [(ngModel)]="newQuote.author"
                            placeholder="Author..." #author='ngModel' required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
            </div>
        </div>
    <!-- </div> -->
</form>