<div class='container' *ngFor='let quote of quotes'>
    <div class='card' *ngIf='quote.isShown' (mouseenter)='quote.handleRemove()' (mouseleave)='quote.handleRemove()'>
        <div>
            <button class='btn btn-danger' *ngIf='quote.showRemove' (click)='quote.hide()'>Remove</button>
            <p class="card-text">{{quote.quote}} <br><em> ~{{quote.author}}</em></p>
        </div>
        <div class='container'>
            <span>Created by: {{quote.createdBy}}</span>
            <div class='icon'>
                <span class="fa fa-thumbs-up"></span>
                <span class="fa fa-thumbs-down"></span>
            </div>
        </div>
    </div>
</div>

<div class="container" id='form'>
    <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
</div>